/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "darkly/variables";
@import "bootstrap";
@import "darkly/bootswatch";

@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

main {
  margin-top: 20px;
}

.alert-dismissible {
  padding-left: $alert-dismissible-padding-r;
}

p.price.with_favourite_icon_wrapper {
  display: flex;
  justify-content: space-between;
}

p.price.with_favourite_icon_wrapper span.favourite_icon svg {
  width: 28px;
}

.hidden{
  display: none;
}

.filter_container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 -30px;
  position: relative;
}

.filter_container button.filter_button {
  width: 100px;
  border-radius: 5px;
}

.filter_container .filters_container_wrapper {
  position: absolute;
  background: #fff;
  top: 35px;
  max-width: 200px;
  width: 100%;
}

.filter_container .filters_container_wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter_container .filters_container_wrapper ul li span.filter_title {
  padding: 15px 15px 5px;
  display: block;
}

.filter_container .filters_container_wrapper .filter_options .filter_to_apply {
  padding: 5px 30px;
}


.filter_container .filters_container_wrapper ul li {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.filter_container .filters_container_wrapper ul li span.filter_title {
  padding: 15px 15px;
  display: block;
}

.filter_to_apply.active_option {
  background: #ddd;
}